@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .curved {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
}

body {
  overflow-x: hidden;
}
