@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .curved {
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

.semicircle {
  position: relative;
}

.semicircle::after {
  width: 1600px;
  height: 1600px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  content: "";
  top: -1510px;
  right: -700px;
  z-index: -1;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: 0; /* Firefox */
  }
}
